/* ===============GOOGLE FONTS============= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/* ================VARIABLES CSS============= */

:root {
 --header-height: 3rem;


 /* ============ COLORS ============= */
 /* COLOR MODE HSL(Hue, Saturation, Lightness) */
 --hue-color: 250;
 --saturation: 0%;
 --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /**
     * typography
     */
     --body-font: "poppins", sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
  
    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.3rem;
  
    --fw-600: 600;
    --fw-700: 700;

    /* ===========Font Weight ============ */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ===========Margenes Bottom ============ */
    /* .5rem = 8px | 1rem = 16px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    
    /* ===========z index ============ */
   --z-tooltip: 10;
   --z-fixed:100;
   --z-modal: 1000;
}
    /* Responsive Typography */
    @media screen and (max-width: 992px) {
      :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;

      }
    }

    /* ============= BASE ============== */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
    }

    body,
    button,
    input,
    textarea {
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
    }

    body {
      background-color: var(--body-color);
      color: var(--text-color);
    }

    h1, h2, h3 {
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
    }

    ul {
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }
    button {
      cursor: pointer;
      border: none;
      outline: none;
    }

    img {
      max-width: 100%;
      height: 100%;
    }

    /* ============= REUSABLE CSS CLASSES =========== */
    .section {
      padding: 6rem 0 2rem;
    }

    .section__title {
      font-size: var(--h1-font-size);
      color: var(--title-color)
    }

    .section__subtitle {
      display: block;
      font-size: var(--small-font-size);
      margin-bottom: 4rem;

    }

    .section__title,
    .section__subtitle {
      text-align: center;
    }
    /* ============= LAYOUT ============= */
    .container {
      max-width: 968px;
      margin-left: auto;
      margin-right: auto;
    }

    .grid {
      display: grid;
      gap: 1.5rem;
    }
    /* ============= BUTTONS ============= */
    .button {
      display: inline-block;
      background-color: var(--title-color);
      color: var(--container-color);
      padding: 1.25rem 2rem;
      border-radius: 1rem;
      font-weight: var(--font-medium);
    }

    .button:hover {
      background-color: var(--first-color-dark);
    }

    .button__icon {
      margin-left: var(--mb-0-5);
    }

    .button--flex {
      display: inline-flex;
      align-items: center;
    }
    /* ============== BREAKPOINTS ========= */
    /* For Large Screens */
    @media screen and (min-width: 1200px) {
      :root {
        --font-size: 1.125rem;
      }
    }

    /* For Medium Screens */
    @media screen and (max-width: 992px) {
      :root {
        --font-size: 1rem;
      }
    }

    /* For Small Screens */
    @media screen and (max-width: 768px) {
      :root {
        --font-size: 0.875rem;
      }
    }

    /* For Extra Small Screens */
    @media screen and (max-width: 576px) {
      :root {
        --font-size: 0.75rem;
      }
    }

    /* ============= HEADER ============= */

    /* ============= FOOTER ============= */